@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #10141e;
}

body {
  background: var(--background);
}

/* Nav Icons */

.fill-red svg path {
  transition: fill 0.3s ease-in-out;
}

.fill-red svg:hover path {
  fill: red;
}

@media (min-width: 1280px) {
  .vhscreen {
    min-height: calc(100vh - 64px);
  }
}
