@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #10141e;
}


body {
  background: var(--background);
}

/* Nav */

@media (min-width: 1280px) {
  .vhscreen {
    min-height: calc(100vh - 64px);
  }
}

/* Nav Icons */

.fill-red svg path {
  transition: fill 0.3s ease-in-out;
}

.fill-red svg:hover path {
  fill: #fc4747;
}

/* Bookmark Icon */

.bookmark-inactive:hover .bookmark-path {
  @apply stroke-black;
}

.bookmark-active:hover .bookmark-path {
  fill: black;
}

/* Trending Section */

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
